@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Ubuntu:400,700&display=swap');

body{
    font-family: "Montserrat";
    text-align: center;
    overflow-x: hidden;

}
#title {
    background: #f67280;
    font-family: Ubuntu, sans-serif;
    text-align: left;
}


.navbar {
    font-size: 15px;
    padding: 0 0 0 3rem;
}

.bg-custom {
    background: #f67280;

}

.navbar-brand {
    font-size: 2.5rem;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.dog {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 25%;



}
.button-outline {
    background-image: url("images/apple.png");
}

.cf1 {
    padding: 18% 7%;




}
.download-button {
    margin: 5% 3% 5% 0;
    box-shadow: 2px 2px 3px #6c5b7b;
}





h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    line-height: 1.5;
    font-size: 3.5rem;
    color: white;
    text-shadow: 2px 2px 3px #6c5b7b;

}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

#features {
    padding: 7% 5%;
    background-color: white;
    z-index: 1;
    position: relative;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}


.cf2 {
    font-family: Ubuntu, sans-serif;
    text-align: center;
    padding: 5% 10%;

}

.tuxt {
    text-align: center;
}

p {
    color: #8f8f8f;
}


.iconcolor {
    color: #f67280;
    margin-bottom: 1.5rem;
}

.container-fluid {
    padding:10% 15% 7%;
}

.iconcolor:hover {
    color: #f8b195;
}


#testimonials {
    padding: 5% 7%;
    text-align: center;
    background-color: #f67280;
    font-family: "ubuntu", sans-serif;
    color: #ffffff;

}

.carousel-item {
    padding: 7% 15%;

}

.testimonial-image {
    border-radius: 50%;
    margin:10px;
    width: 20%;
}

#press {
    background-color: #f67280;
    text-align: center;
    padding-bottom: 3%;
}

.plogo {
    width: 10%;
    margin: 20px 50px 50px;
}


.pricing-column {
    padding: 90px;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .dog {
         position: static;
         transform: rotate(0);
    }
}