
/***************** TAG SELECTORS ***************/


body {
    margin: 0;
    text-align: center;
    font-family: "Sacramento", cursive;



}

h1 {
    color: #c06c84;
    margin: 0;
    padding: 120px;
    font-family: "Sacramento", cursive;


}


/***************** CLASS SELECTORS ***************/



.top-container {

    background-color: #f8b195;
    position: relative;
    padding-top: 50px;

}

.mountain {
    position:relative;



}

.cloud {
    position: absolute;
    right: 400px;
    top: 120px;

}

.cloud2 {
    position: absolute;
    left: 450px;
    bottom: 400px;

}
.middle-container{
    background-color: #f67280;
    position: relative;
    padding-bottom: 500px;



}

.bottom-container {
    background-color: #6c5b7b;
    width: 200px;
    height: 200px;


}




/***************** ID SELECTORS ***************/

