
/***************** TAG SELECTORS ***************/


body {
    margin: 0;
    text-align: center;
    font-family: "Montserrat", cursive;
}

h1 {
    color: #6c5b7b;
    margin: 110px auto 0 auto;
    font-family: "Reenie Beanie", cursive;
    font-size: 6.625rem;
    font-weight: lighter;
}

h2 {
    font-family: "Montserrat", cursive;
    font-size: 2.5rem;
    color: #6c5b7b;
    font-weight: lighter;
}

h3 {
    font-family: "Montserrat", cursive;
    font-size: 1.5rem;
    color: #f67280;
}

hr {
    border-right: 2px dotted;
    margin-botom 0;
    height: 400px;



}

/***************** CLASS SELECTORS ***************/



.top-container {

    background-color: #f8b195;
    padding-top: 50px;


}

.mountain {
    position: relative;

}

.cloud {
    position: absolute;
    right: 300px;
    top: 150px;

}

.cloud2 {
    position: absolute;
    left: 350px;


}
.middle-container{
    background-color: white;
    width: 50%;
    margin: 100px auto 100px auto;

}

.skills {
    background-color: white;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.nom {
    background-color: white;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.contact-me {
    background-color: #f8b195;


}

.footer-link {
    color: #f67280;
}

.btn {
    color: #6c5b7b;
}



/***************** IMAGES ***************/

.pic {
    width: 25%;
    border-radius: 50%;
}

.pic:hover {
    background-color: #6c5b7b;

}

.guitar {
    width: 25%;
    float: left;

    margin-right: 30px;


}

.nom-image {
    width: 25%;
    float: right;
    margin-right: 30px;


}

